@import '../../common/common';

.leader {
  border-bottom: solid 1px $gray2;
  margin-left: 20px;
  height: 70px;
  padding-top: 10px;
  margin-right: 20px;

  .username {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: $dark-purple;
    display: inline-block;
    width: 60%
  }

  .value {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: $purple;
    display: inline-block;
    float: right;
    text-align: right;
    padding-top: 13px;
  }

}