body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.header {
  height: 100px;
  background-color: #271b37;
  border: solid 1px #979797; }
  .header .logo {
    width: 100%;
    padding-top: 20px; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.calendar {
  height: 145px; }
  .calendar .calendar-cell {
    text-align: center;
    padding-top: 35px;
    height: 145px;
    cursor: pointer; }
    .calendar .calendar-cell .cal-subtext {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      letter-spacing: -0.3px;
      color: #9fa9ba;
      margin-bottom: -10px; }
    .calendar .calendar-cell .cal-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 36px;
      letter-spacing: -0.8px;
      color: #271b37;
      font-weight: 300;
      height: 49px; }
  .calendar .border:before {
    content: '';
    position: absolute;
    top: 35%;
    bottom: 35%;
    left: 0px;
    display: block;
    border-left: 1px solid #e6e6e6; }
  .calendar .selected {
    border-bottom: 5px solid #7953aa; }

.left {
  cursor: pointer;
  text-align: right;
  display: inline-block;
  float: left; }
  .left:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    top: 60px;
    border: 3px solid #e6e6e6;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer; }

.right {
  cursor: pointer;
  text-align: left;
  display: inline-block;
  float: right; }
  .right:before {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    top: 60px;
    border: 3px solid #e6e6e6;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg); }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.thumb {
  float: left;
  display: inline-block;
  width: 135px;
  cursor: pointer; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

input[type=checkbox] {
  visibility: hidden; }

.vert-circle-check {
  text-align: center;
  width: 28px;
  height: 28px;
  margin: 20px auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative; }
  .vert-circle-check .label-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.3px;
    color: #7953aa;
    margin-top: 40px; }

.vert-circle-check label {
  cursor: pointer;
  position: absolute;
  width: 43px;
  height: 43px;
  max-width: none !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: -20px;
  top: 4px;
  border: 3px solid #7953aa; }

.vert-circle-check label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 23px;
  height: 11px;
  background: transparent;
  top: 9px;
  left: 8px;
  border: 3px solid #7953aa;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.vert-circle-check input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.qfButton {
  padding: 12px 40px;
  border: solid 3px #7953aa;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.strength .gray {
  background-color: #f7f7f7; }

.strength .type-name {
  letter-spacing: -0.1px;
  color: #7953aa;
  font-size: 12px;
  font-weight: 600; }

.strength .weight-set {
  display: inline-block;
  width: 20%;
  font-size: 12px;
  color: #271b37;
  padding: 5px;
  height: 80px;
  margin-top: 10px;
  padding-top: 10px; }
  .strength .weight-set input {
    width: 45%;
    font-size: 12px; }
  .strength .weight-set label {
    font-weight: normal;
    margin-right: 5px;
    margin-left: 2px; }
  .strength .weight-set .col {
    width: 50%;
    display: inline-block;
    margin-bottom: 10px; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.sprint .vert-circle-check {
  margin-top: 5px !important; }

.sprint .detail-row {
  height: 80px; }

.sprint .detail {
  padding-top: 20px; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.do-work .vert-circle-check {
  margin-top: 20px;
  display: block;
  float: left; }
  .do-work .vert-circle-check label {
    left: 7px;
    width: 31px;
    height: 31px;
    border: 2px solid #7953aa; }
  .do-work .vert-circle-check .label-text {
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #9fa9ba;
    margin-top: 20px; }
  .do-work .vert-circle-check label:after {
    width: 15px;
    height: 8px;
    top: 7px;
    left: 6px; }

.do-work .subnav {
  height: 38px;
  background-color: #fbf8fc;
  border: solid 1px #e6e6e6;
  padding-top: 6px; }
  .do-work .subnav span {
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #7953aa;
    font-size: 12px;
    letter-spacing: -0.3px;
    font-weight: 600;
    cursor: pointer; }

.do-work .sec {
  margin-top: 40px;
  display: block;
  float: left;
  min-height: 200px;
  width: 100%;
  background-color: white; }
  .do-work .sec .sec-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #271b37;
    background: white;
    height: 60px;
    padding-top: 12px;
    border-bottom: solid 2px #7953aa; }

.do-work .main {
  background-color: #e6e6e6; }

.do-work .comments {
  margin-bottom: 100px; }

.do-work .loading {
  opacity: 0.5; }

.do-work .exercise {
  padding-bottom: 5px; }

.do-work .top-border:before {
  content: '';
  display: block;
  position: relative;
  width: 85%;
  top: 2px;
  left: 150px;
  border: 1px solid #e6e6e6; }

.do-work .exercise-section {
  padding: 15px 10px 10px 0px; }

.do-work .ex-info {
  float: left;
  display: inline-block;
  padding-top: 15px; }
  .do-work .ex-info .link {
    cursor: pointer; }

.do-work .ex-name {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.2px;
  color: #271b37;
  font-weight: 600; }

.do-work .ex-subtext {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.1px;
  color: #9fa9ba; }

/*# sourceMappingURL=do_work.css.map*/