h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.header {
  height: 100px;
  background-color: #271b37;
  border: solid 1px #979797; }
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.do-work .calendar {
  height: 145px; }

.do-work .subnav {
  height: 38px;
  background-color: #fbf8fc;
  border: solid 1px #e6e6e6; }

.do-work .quad {
  margin-top: 40px;
  display: block;
  float: left;
  min-height: 200px;
  width: 100%;
  background-color: white; }

.do-work .main {
  background-color: #e6e6e6; }

/*# sourceMappingURL=do_work.css.map*/