body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

#one {
  min-height: 770px;
  width: 100%;
  background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center fixed;
  background-size: cover;
  border-bottom: 12px solid #d5de22;
  color: white; }

#two {
  color: #4a4a4a;
  font-size: 20px;
  margin-bottom: 90px; }
  #two .sub {
    padding-top: 25px;
    padding-bottom: 50px;
    line-height: 1.5;
    letter-spacing: -0.2px; }
  #two .content {
    line-height: 1.6;
    letter-spacing: -0.2px; }

#three {
  border-bottom: 12px solid #d5de22; }
  #three .brick {
    height: 314px;
    font-size: 36px;
    letter-spacing: -0.3px;
    text-align: center;
    padding-top: 120px; }
  #three .details {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    background-color: #e6e6e6; }
  #three .left {
    padding-right: 5%;
    padding-left: 20%;
    text-align: right; }
  #three .right {
    padding-left: 5%;
    padding-right: 20%;
    text-align: left; }
  #three #sprinting {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-sprinting.png) no-repeat;
    background-size: cover; }
  #three #plyos {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-plyometrics.png) no-repeat;
    background-size: cover; }
  #three #strength {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-weightlifting.png) no-repeat;
    background-size: cover; }
  #three #stretch {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-stretch.png) no-repeat;
    background-size: cover; }

#four #view-and-share {
  color: #7953aa;
  font-size: 44px;
  line-height: 1.1;
  padding-top: 50px; }

#four .sub {
  font-size: 18px;
  line-height: 1.6;
  color: #4a4a4a;
  margin: auto;
  max-width: 620px;
  padding-top: 20px;
  margin-bottom: 100px; }

#four .workout {
  background: url(https://s3.amazonaws.com/quadfit/background-workout.png) no-repeat;
  background-size: cover;
  max-height: 374px; }

#four .workout-img {
  margin-top: -30px; }

#five {
  background: url(https://s3.amazonaws.com/quadfit/background-tracking.png) no-repeat;
  background-size: cover; }
  #five .tracking-img {
    padding-top: 150px;
    margin-left: -250px; }
  #five .details {
    color: white;
    padding-top: 75px;
    margin: auto;
    max-width: 900px;
    font-size: 18px;
    line-height: 1.6; }
  #five .op {
    opacity: 0.8; }
  #five .track {
    font-size: 44px;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 24px; }
  #five .sub-details {
    margin-bottom: 50px; }
  #five .more {
    padding-bottom: 50px;
    max-width: 250px; }
  #five .icon {
    padding-bottom: 15px; }

#six {
  background: #f4f4f4 url(https://s3.amazonaws.com/quadfit/image-quadpod.png) no-repeat 50% 300px;
  overflow: hidden; }
  #six .title {
    color: #7953aa;
    font-size: 44px;
    line-height: 1.1;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 700px; }
  #six .first {
    padding-top: 200px; }
  #six .share-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #303234;
    line-height: 1.3; }
  #six .share {
    color: #747e80;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 50px; }

#seven {
  color: white;
  background: url(https://s3.amazonaws.com/quadfit/background-coaches.png) no-repeat;
  background-size: cover; }
  #seven .title {
    font-size: 44px;
    line-height: 1.1;
    padding-top: 85px; }
  #seven .sub {
    font-size: 18px;
    line-height: 1.6;
    max-width: 620px;
    padding-top: 20px;
    margin: auto auto 50px;
    opacity: 0.8; }

#header-row {
  padding-top: 25px;
  padding-left: 80px !important;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.1px; }
  #header-row a {
    color: white;
    margin-right: 40px; }

.about {
  font-size: 64px;
  letter-spacing: -0.6px;
  padding-top: 50px; }

.headline {
  font-size: 64px;
  color: #d5de22;
  font-family: 'Montserrat', sans-serif; }

.subline {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  max-width: 850px;
  margin: auto; }

.header-links {
  padding-top: 15px; }

.main-row {
  margin-bottom: 50px;
  margin-top: 200px; }

.sign-up {
  border: solid 1px #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 172px;
  margin: auto;
  font-size: 20px;
  letter-spacing: -0.2px;
  cursor: pointer;
  padding-top: 5px; }

@media (min-width: 979px) {
  #five {
    min-height: 800px; }
  #one {
    min-height: 770px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover; }
  #six {
    height: 950px; } }

@media all and (max-width: 767px) {
  #one {
    min-height: 500px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover; }
  #six {
    height: 60px; } }

@media all and (max-width: 480px) {
  #one {
    min-height: 300px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover; }
  #six {
    height: 60px; } }

@media (max-width: 979px) and (min-width: 768px) {
  #five {
    min-height: 800px; }
  #six {
    height: 950px; }
  #one {
    min-height: 500px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover; } }

/*# sourceMappingURL=home.css.map*/
/*# sourceMappingURL=home.css.map*/