body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.green {
  color: green; }

.red {
  color: red; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.header {
  height: 100px;
  background-color: #271b37;
  border: solid 1px #979797; }
  .header .logo {
    width: 100%;
    padding-top: 20px; }
  .header .btn {
    height: 40px;
    background-color: #271b37;
    width: 129px;
    display: inline-block;
    float: left;
    border: 1px solid #5a3e7f;
    border-radius: 0;
    padding-top: 8px;
    color: white !important; }
    .header .btn:hover {
      color: white;
      border: 1px solid #7953aa; }
  .header .active {
    border: 1px solid #7953aa;
    background-color: #34244a; }
  .header .nav {
    width: 390px;
    margin: 10px auto auto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.3px;
    color: white !important; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.green {
  color: green; }

.red {
  color: red; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.qfButton {
  padding: 12px 40px;
  border: solid 3px #7953aa;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.qfInverseButton {
  padding: 12px 40px;
  border: solid 3px #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #fff;
  background-color: #7953aa; }
  .qfInverseButton:hover {
    color: #fff;
    background-color: #7953aa;
    border-color: #fff; }
  .qfInverseButton:focus {
    color: #fff;
    background-color: #7953aa;
    border-color: #fff; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.green {
  color: green; }

.red {
  color: red; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.footer {
  background-color: #271b37;
  height: 194px;
  color: white;
  padding-top: 60px;
  font-size: 14px;
  letter-spacing: -0.2px;
  vertical-align: bottom; }
  .footer .logo {
    padding-left: 100px; }
  .footer span {
    margin-right: 30px; }
  .footer .links {
    padding-top: 30px;
    padding-right: 70px; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.green {
  color: green; }

.red {
  color: red; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

input.transparent-input {
  background-color: transparent !important;
  border: none !important;
  width: 100%;
  height: 50px;
  outline: none !important; }

.floatl {
  position: relative; }

.floatl--active .floatl__label {
  opacity: 1;
  visibility: visible;
  top: -20px;
  left: 2px; }

.floatl__label {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: inline-block;
  padding: 5px 3px 3px 0px;
  font-size: 10px;
  line-height: 1em;
  color: rgba(121, 83, 170, 0.5); }

.error-text {
  color: red; }

.floatl__input {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

::-webkit-input-placeholder {
  color: #271b37; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #271b37; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #271b37; }

:-ms-input-placeholder {
  color: #271b37; }

.pw-strength {
  right: -408px;
  position: relative;
  top: -40px; }

.indicator {
  display: block;
  width: 21px;
  height: 4px;
  border-color: #7953aa;
  border-style: solid;
  border-width: 1px;
  margin-top: 2px; }

.full {
  background-color: #7953aa; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.green {
  color: green; }

.red {
  color: red; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.settings {
  display: table;
  width: 100%; }

.settings .row {
  display: table-row; }

.switch {
  display: table-cell;
  vertical-align: middle;
  padding-top: 9px;
  float: left; }

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #7953aa;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
  height: 26px; }

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #7953aa;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }

input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 4px;
  width: 28px;
  background-color: white;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s; }

input.cmn-toggle-round-flat:checked + label {
  background-color: #7953aa; }

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 28px;
  background-color: white; }

.selected-text {
  padding-left: 8px;
  text-transform: capitalize; }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.1px;
  color: #271b37; }

.standard-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #271b37; }

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #9fa9ba; }

.help-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 3.4;
  letter-spacing: -0.3px;
  color: #271b37; }

.purple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #7953aa; }

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: #7953aa; }

.subtle-link {
  color: #9fa9ba;
  text-decoration: underline; }
  .subtle-link:hover {
    color: #7953aa; }

.lightning-underline {
  border-bottom: 4px solid #d5de22; }

.bold-link {
  color: #271b37;
  text-decoration: underline; }
  .bold-link:hover {
    color: #7953aa; }

.white {
  color: #fff; }

.purple {
  color: #7953aa; }

.green {
  color: green; }

.red {
  color: red; }

.small-link {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7953aa;
  text-decoration: underline;
  cursor: pointer; }

.profile .gray-border {
  border-bottom: solid 1px #e6e6e6; }

.profile .main {
  background-color: #e6e6e6;
  color: #271b37;
  min-height: 900px; }
  .profile .main .p-header {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -1.1px;
    padding-top: 30px; }
  .profile .main .purple-bot-container {
    border-bottom: 1px solid #7953aa;
    height: 50px;
    display: block; }
  .profile .main .error {
    border-bottom: 1px solid red; }
  .profile .main .p-sub {
    color: #7953aa;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    padding-left: 5px;
    padding-bottom: 30px; }
  .profile .main .p-section {
    background-color: white;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.6px;
    padding-top: 10px;
    float: left;
    width: 100%;
    display: block;
    border-radius: 3px; }
    .profile .main .p-section .sec-header {
      padding-left: 15px;
      border-bottom: solid 2px #7953aa;
      height: 50px; }
    .profile .main .p-section .sec-main {
      margin-left: 20px;
      margin-right: 10px;
      padding-top: 30px;
      padding-bottom: 10px;
      font-weight: 300;
      letter-spacing: -0.6px;
      float: left;
      display: block; }
  .profile .main .button-wrap {
    margin-top: 30px;
    margin-bottom: 30px; }

/*# sourceMappingURL=profile.css.map*/
/*# sourceMappingURL=profile.css.map*/