files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/02_start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      chmod -R 777 log
      chmod -R 777 tmp
      bundle exec sidekiqctl stop tmp/pids/sidekiq.pid 0
      bundle exec sidekiq -C config/sidekiq.yml

  /opt/elasticbeanstalk/hooks/restartappserver/post/02_start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      chmod -R 777 log
      chmod -R 777 tmp
      bundle exec sidekiqctl stop tmp/pids/sidekiq.pid 0
      bundle exec sidekiq -C config/sidekiq.yml