files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/02_start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      sudo chmod -R 777 log
      sudo touch tmp/sidekiq.pid
      sudo chmod 777 tmp/sidekiq.pid
      bundle exec sidekiqctl stop tmp/sidekiq.pid 0 2>&1 >/dev/null
      bundle exec sidekiq -C config/sidekiq.yml &

  /opt/elasticbeanstalk/hooks/restartappserver/post/02_start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      sudo chmod -R 777 log
      sudo touch tmp/sidekiq.pid
      sudo chmod 777 tmp/sidekiq.pid
      bundle exec sidekiqctl stop tmp/sidekiq.pid 0 2>&1 >/dev/null
      bundle exec sidekiq -C config/sidekiq.yml &