files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/02_start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      cd /var/app/current
      sudo chmod -R 777 log
      sudo mkdir -p tmp/pids
      sudo chmod 777 tmp/pids
      bundle exec god -c config/god/sidekiq_god_prod.rb 2>&1 >/dev/null
      bundle exec god restart sidekiq

  /opt/elasticbeanstalk/hooks/restartappserver/post/02_start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      cd /var/app/current
      sudo chmod -R 777 log
      sudo mkdir -p tmp/pids
      sudo chmod 777 tmp/pids
      bundle exec god -c config/god/sidekiq_god_prod.rb 2>&1 >/dev/null
      bundle exec god restart sidekiq