files:
  /etc/my_init.d/start_app.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      touch /var/log/topf.log
      chown topferral:topferral /var/log/topf.log
      mkdir -p /var/log/nginx
      uwsgi --socket 127.0.0.1:8080 --stats /tmp/stats.socket --module topferral --callable app --uid topferral --ini ./run-config/uwsgi.ini &
      service nginx start