<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @exercise_type.type_name %>
</p>

<%= link_to 'Edit', edit_exercise_type_path(@exercise_type) %> |
<%= link_to 'Back', exercise_types_path %>
