@import "../../common/common";

.progress-tab {
  .main {
    background-color: $gray2;
    color: $dark-purple;
    min-height: 900px;

    .controls-row {
      padding-bottom: 30px;
      select {
        margin-right: 20px;
      }
    }

    .no-progress {
      font-weight: bold;
      color: #9FA9BA;
      width: 100%;
      text-align: center;
      display: inline-block;
    }

    .upgrade-link {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.1px;
      color: #4f5362;
      text-decoration: underline;
    }
    .timeline-bar {
      text-align: center;
      height: 20px;
      color: white;
      font-size: 11px;
      display: inline-block;
      padding-top: 1px;
    }

    #timeline {
      position: relative;
    }

    .period {
      font-size: 12px;
      font-weight: bold;
      color: $gray8;
      letter-spacing: -0.1px;
      cursor: pointer;
    }

    .small-title {
      font-size: 12px;
      color: $grayer;
      text-transform: uppercase;
    }

    .selected-period {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.1px;
      color: $grayer;
      border-bottom: 3px solid $lightning;
      cursor: pointer;
    }

    .val-label {
      opacity: 0.3;
      font-size: 11px;
      color: #ffffff;
    }

    .qfButton {
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }

    .title-row {
      //padding-left: 0px !important;
    }

    .form-control {
      width: 265px;
      display: inline-block !important;
    }
    .pr-header {
      font-size: 48px;
      font-weight: 300;
      letter-spacing: -1.1px;
      padding-top: 30px;
    }
    .pr-sub {
      color: $purple;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      padding-left: 5px;
      padding-bottom: 30px;
      min-height: 105px;
    }
    .info-bar {
      color: white;
      background-color: $dark-purple;
      height: 100px;
      font-size: 27px;
      padding-top: 30px;
    }
    .chart-area {
      background-color: white;
      height: 450px;
      margin-bottom: 50px;
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .chart-header {
      font-size: 12px;
      color: #4f5362;
      padding-top: 40px;
      padding-bottom: 20px;
      background-color: white;
      height: 100px;
      span {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .chart-area {
      margin-bottom: 0px !important;
      height: 480px !important;
    }

    .pr-header {
      font-size: 36px !important;
    }

    .pr-sub {
      padding-bottom: 10px !important;
      min-height: 85px !important;
    }

    .xs-padding {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}