@import "../../common/common";

.strength {

  .gray {
    background-color: $gray4;
  }
  
  .type-name {
    letter-spacing: -0.1px;
    color: $purple;
    font-size: 12px;
    font-weight: 600;
  }

  .weight-sets-col {
    text-align: right;
  }

  .weight-set {
    display: inline-block !important;
    width: 20%;
    min-width: 150px;
    font-size: 12px;
    color: $dark-purple;
    padding: 5px;
    min-height: 80px;
    margin-top: 10px;
    padding-top: 10px;
    input {
      width: 45%;
      font-size: 12px;
      border-bottom: $purple 1px solid !important;
      background-color: $gray1;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      text-align: right;
    }
    label {
      font-weight: normal;
      margin-right: 5px;
      margin-left: 2px;
    }
    .col {
      width: 50%;
      display: inline-block;
      margin-bottom: 10px;
    }
    .double {
      width: 100%;
      display: inline-block;
      margin-bottom: 10px;
      .vert-circle-check {
        float: right;
        left: -20px;
        margin-top: 0px;
      }
    }

  }
  .error {
    input[type=text] {
      border: #d62020 1px solid;
      background-color: #fdcdcd;
    }
    label {
      color: #d62020;
    }
  }

  @media (max-width: 768px) {
    border-bottom: solid 2px #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px !important;
  }

  @media (max-width: 620px) {
    .thumb-col {
      width: 33% !important;
    }

    .info-col {
      width: 66% !important;
    }

  }
}