<p id="notice"><%= notice %></p>

<p>
  <strong>Day enumeration:</strong>
  <%= @program_day.day_enumeration %>
</p>

<%= link_to 'Edit', edit_program_day_path(@program_day) %> |
<%= link_to 'Back', program_days_path %>
