@import "../../common/common";

.team {
  margin-bottom: 20px;

  .team-name {
    font-size: 18px;
    font-weight: 700;
  }

  .team-actions {
    color: $purple;
    font-size: 16px;
    line-height: 1.2;
    .separator {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .row {
    height: 70px;
    border-bottom: solid 1px #c9c9c9;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 14px;
  }

  .first {
    padding-left: 0px !important;
  }

  .last {
    padding-right: 0px !important;
  }


}