Hey Coach,<br/>
Someone just attempted to sign up with one of your sign up codes, but your account is maxed out!<br/>
Please head over to <a href="https://<%= Qfit::Application.config.action_mailer.default_url_options[:host] %>/settings">your settings page</a>
and upgrade your Quadfit account.<br/>
Let us know if you have any questions!<br/><br/>
- The Quadfit Team