Hi <%= @user.first_name %>,<br/>

We couldn't process your subscription payment. Please head over to the <a href="/settings"> settings page</a> and update your billing info.<br/>
<br/>
Thanks!<br/>
- The Quadfit Team
