<% content_for :head do %>
    <title>Quadfit - Account</title>
    <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/account.css' />
<% end %>

<div id="app">
</div>

<script src="<%= Qfit::Application.config.assets_prefix %>/js/account.bundle.js"></script>
