<% content_for :head do %>
    <title>Quadfit - Free Online Personal Trainer</title>
    <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/home.css' />
<% end %>

<div class="container-fluid" id="one">
  <div class="row" id="header-row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs-inline" href="/"><img src="https://s3.amazonaws.com/quadfit/logo.png" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/sign-up">For Athletes</a></li>
            <li><a href="/sign-up-coach">For Coaches</a></li>
          </ul>
          <span class="text-center hidden-xs logo">
            <a href="/"><img src="https://s3.amazonaws.com/quadfit/logo.png" /></a>
          </span>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="/sign-in">Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row main-row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <div class="headline">CUSTOM TRAINING</div>
      <div class="subline">
        Quadfit is the free online personal trainer that helps you train like a collegiate or pro athlete.
        Sports specific power training made simple.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 col-xs-12 text-center">
      <a href="/sign-up" class="sign-up">FOR ATHLETES</a>
    </div>
    <div class="col-sm-2 col-xs-12 text-center">
      <a href="/sign-up-coach" class="sign-up">FOR COACHES</a>
    </div>
  </div>
</div>
<div class="container-fluid" id="two">
  <div class="row">
    <div class="col-xs-12 text-center about">
      <span class="lightning-underline">About Quadfit</span>
    </div>
  </div>
  <div class="row sub">
    <div class="col-xs-12 text-center">
      HOW DO YOU GET THE BEST POSSIBLE WORKOUT?<br/> QUADFIT MAKES IT EASY. FIRST TELL US YOUR GOAL.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/quadfit/image-quads.png" />
    </div>
    <div class="col-sm-7 col-xs-12 content">
      QUADFIT guides through an initial assessment, and then create a workout that fits within your schedule.
      We handpick a mixture of new school and old school exercises – complete with reps, sets, weight loads and rest periods — to create
      maximum benefit and take you to new heights. Quadfit also tracks all your progressions, and switches up your program
      every 3 weeks to keep things interesting. Invite your friends to join your Quad Pod so that you can share workouts and track each other.
      <br/><br/>
      You only choose the Quads that you want to add to your program, although we recommend that you choose all 4.
    </div>
  </div>
</div>
<div class="container-fluid" id="three">
  <div class="row">
    <div class="col-sm-6 col-xs-12 brick white" id="sprinting">
      Sprinting
    </div>
    <div class="col-sm-6 col-xs-12 brick details">
      <div class="right">Also known as high intensity interval training, these routines will help you build fast twitch muscle.
      The intense pace also helps you burn calories at an extremely aggressive rate.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 brick details">
      <div class="left">Bridging the gap between strength and speed, plyometric exercises are designed to produce explosive power and increased speed.</div>
    </div>
    <div class="col-sm-6 col-xs-12 brick white" id="plyos">
        Plyometrics
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 brick white" id="strength">
      Strength Training
    </div>
    <div class="col-sm-6 col-xs-12 brick details">
      <div class="right">Quadfit begins by calculating your current strength level and prescribing appropriate weight loads. Your loads are
      then updated after each workout you complete, so your workout will "grow" with your muscle size.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 brick details">
      <div class="left">These exercises are designed to prevent injury, and to make sure that your muscles are ready to be worked.
      Stretching is often overlooked by athletes, but it is as crucial.</div>
    </div>
    <div class="col-sm-6 col-xs-12 brick white" id="stretch">
      Stretching & Warmup
    </div>
  </div>
</div>
<div class="container-fluid" id="four">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <div id="view-and-share">A Quick Way to View<br/> and Check Your Workouts</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <div class="sub">We adjust your workouts based on the performance of your last workout. When you want to show your progress,
      we’ve built in easy sharing.</div>
    </div>
  </div>
  <div class="row workout">
    <div class="col-xs-12 text-center">
      <img class="workout-img" src="https://s3.amazonaws.com/quadfit/image-workout.png" />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" id="five">
    <div class="col-md-5 col-sm-12">
      <div class="tracking-img img-responsive"><img src="https://s3.amazonaws.com/quadfit/image-tracking.png" /></div>
    </div>
    <div class="col-md-6 col-md-offset-1 col-sm-12 details">
      <div class="row">
        <div class="col-xs-10 track text-center">
          Track Your Progress
        </div>
      </div>
      <div class="row sub-details">
        <div class="col-xs-10 op">
          We provide tracking so you can see your growth. You can determine where you are falling behind and see your
          overall progression or the individual exercises.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="icon"><img src="https://s3.amazonaws.com/quadfit/icon-powerindex.png" /></div>
          POWER INDEX
          <div class="more op">
            Our score on how you are progressing with overall strength.
          </div>
        </div>
        <div class="col-xs-6">
          <div class="icon"><img src="https://s3.amazonaws.com/quadfit/icon-dumbells.png" /></div>
          BY EXERCISE
          <div class="more op">
            Compare your numbers for each exercise you complete.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="icon"><img src="https://s3.amazonaws.com/quadfit/icon-weight.png" /></div>
          WEIGHT
          <div class="more op">
            Track your weight gain or loss through your Quadfit journey.
          </div>
        </div>
        <div class="col-xs-6">
          <div class="icon"><img src="https://s3.amazonaws.com/quadfit/icon-completeness.png" /></div>
          COMPLETENESS
          <div class="more op">
            Percentage of the workouts that you have completed.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="six">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="title text-center">Share your workouts<br/> and stay in touch with QuadPod</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 col-xs-12 first">
      <div class="share-title">Chat up your friends</div>
      <div class="share">We’ve added a full chat program to help you stay in touch, taunt, and support your workout partners or friends.</div>
    </div>
    <div class="col-sm-3 col-xs-12 col-sm-offset-4  first">
      <div class="share-title">View workouts</div>
      <div class="share">Access any of your friends workouts quickly and easily through the quadpod.
      Leave a comment, and see what exercises they're doing.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 col-xs-12">
      <div class="share-title">Get updates</div>
      <div class="share">Get quick updates when friends in your quadpod complete a workout, perform a personal best, or complete a challenge.</div>
    </div>
    <div class="col-sm-3 col-sm-offset-4 col-xs-12">
      <div class="share-title">Motivate each other</div>
      <div class="share">Need to add some more text here to balance out the text on the page. Please think of something for this space in particular.</div>
    </div>
  </div>
</div>
<div class="container-fluid" id="seven">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
      <div class="title">Tools for coaches</div>
      <div class="sub">With a Coach/Trainer Quadfit account you'll be able to oversee workouts for all your athletes. Your athletes will
      benefit from customized, sports specific, power training workouts.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="coach-img" src="https://s3.amazonaws.com/quadfit/image-coaches.png" />
    </div>
  </div>
</div>
<div class="container-fluid" id="pricing">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <div class="title">A Simple Pricing Plan</div>
      <div class="sub">We offer simple and affordable pricing without contracts. Get started for free and upgrade later for a fully unlocked experience.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="table-wrapper">
      <table class="table">
        <col width="180">
        <col width="180">
        <col width="180">
        <col width="180">
        <tbody>
        <tr>
          <td class="athletes" colspan="4">Athletes</td>
        </tr>
        <tr>
          <td></td>
          <td>$0</td>
          <td>$9.99/mo</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-right labell">Exercises</td>
          <td>Limited</td>
          <td>All Access</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-right labell">Progress History</td>
          <td>2 Months</td>
          <td>Unlimited</td>
          <td></td>
        </tr>
          <td class="coaches" colspan="4">Coaches</td>
        </tr>
        <tr>
          <td></td>
          <td>$0</td>
          <td>$29.99/mo</td>
          <td>$79.99/mo</td>
        </tr>
        <tr>
          <td class="text-right labell">Users</td>
          <td>5 Users</td>
          <td>30 Users</td>
          <td>100 Users</td>
        </tr>
        <tr>
          <td class="text-right labell">Exercises</td>
          <td>Limited</td>
          <td>All Access</td>
          <td>All Access</td>
        </tr>
        <tr>
          <td class="text-right labell">Progress History</td>
          <td>2 Months</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row get-started">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12 text-center">
      <span class="cta">Start Your Training Now</span>
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <a href="/sign-up" class="sign-up">FOR ATHLETES</a>
      <a href="/sign-up-coach" class="sign-up">FOR COACHES</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row footer">
    <div class="col-sm-5 col-xs-3 logo">
      <img src="https://s3.amazonaws.com/quadfit/logo.png" />
    </div>
    <div class="col-sm-7 col-xs-9 text-right links">
      <span>Made with grit in San Francisco</span>
    </div>
  </div>
</div>

<script src="<%= Qfit::Application.config.assets_prefix %>/js/home.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>