<% content_for :head do %>
    <title>Quadfit - <%= @user.user_name %></title>
    <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/profile.css' />
<% end %>

<div id="app">
</div>

<script src="<%= Qfit::Application.config.assets_prefix %>/js/profile.bundle.js"></script>
