<% content_for :head do %>
    <title>Quadfit - Sign Up</title>
    <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/sign_up.css' />
<% end %>

<div id="app">

</div>

<script src="<%= Qfit::Application.config.assets_prefix %>/js/sign_up.bundle.js"></script>