<% content_for :head do %>
    <title>Quadfit - Sign Up</title>
    <!--<script src="<%= Qfit::Application.config.assets_prefix %>/js/vendor.js"></script>-->
<% end %>

<div id="app">

</div>

<script src="<%= Qfit::Application.config.assets_prefix %>/js/sign_up.bundle.js"></script>