<% content_for :head do %>
    <title>Quadfit - Forgot Password</title>
    <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/forgot.css' />
<% end %>

<div id="app">

</div>

<script src="<%= Qfit::Application.config.assets_prefix %>/js/forgot.bundle.js"></script>