@import '../../common/common';

.friends {
  .friend {
    min-height: 70px;
    padding-top: 10px;
    width: 100%;
    display: block;
    float: left;
    .flag {
      width: 35px;
      height: 30px;
      border-radius: 5px;
      padding-top: 1px;
      cursor: pointer;
      background-color: $purple;
      text-align: center;
      display: inline-block;
    }
    .pi {
      width: 112px;
      display: inline-block;
      text-align: right;
    }
    .remove {
      width: 20px;
      display: inline-block;
      text-align: right;
      float: right;
      padding-top: 10px;
      cursor: pointer;
    }
    .username {
      width: 180px;
      display: inline-block;
    }
  }
  .sec-main {
    padding-bottom: 0px !important;
  }
  .avi-wrap {
    margin-left: 10px;
    margin-right: 10px;
  }

}