@import "../../common/common";

.quad-pod {

  .main {
    background-color: $gray2;
    color: $dark-purple;
    min-height: 800px;
    .qp-header {
      font-size: 48px;
      font-weight: 300;
      letter-spacing: -1.1px;
      padding-top: 30px;
    }
    .qp-sub {
      color: $purple;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.1;
      padding-left: 5px;
      padding-bottom: 30px;
    }
    .qp-section {
      background-color: white;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.6px;
      padding-top: 10px;
      .sec-header {
        padding-left: 10px;
        border-bottom: solid 2px $purple;
        height: 50px;
      }
      .sec-main {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 15.6px;
        line-height: 1.5;
        letter-spacing: -0.2px;
      }
    }
  }


}