@import "../../common/common";

.quad-pod {

  .gray-border {
    border-bottom: solid 1px $gray2;
  }
  .main {
    background-color: $gray2;
    color: $dark-purple;
    min-height: 900px;
    .qp-header {
      font-size: 48px;
      font-weight: 300;
      letter-spacing: -1.1px;
      padding-top: 30px;
    }
    .qp-sub {
      color: $purple;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.1;
      padding-left: 5px;
      padding-bottom: 30px;
    }
    .qp-section {
      background-color: white;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.6px;
      padding-top: 10px;
      float: left;
      width: 100%;
      display: block;
      border-radius: 3px;
      .sec-header {
        padding-left: 10px;
        border-bottom: solid 2px $purple;
        height: 50px;
      }
      .sec-main {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15.6px;
        line-height: 1.5;
        letter-spacing: -0.2px;
        float: left;
        display: block;
      }
    }
    input {
      background-color: $gray1;
      border: solid 1px $lavender;
      width: 211px;
      height: 35px;
      margin-left: 10px;
      padding-left: 5px;
    }
    textarea {
      resize: none;
    }
    .input-row {
      margin-top: 10px;
      float: left;
      display: block;
    }
    .submit-row {
      float: left;
      display: block;
      margin-top: 15px;
      margin-left: 10px;
      padding-bottom: 20px;
    }
  }


}