<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @sprint_detail.detail %>
</p>

<%= link_to 'Edit', edit_sprint_detail_path(@sprint_detail) %> |
<%= link_to 'Back', sprint_details_path %>
