$fb-blue:  #3a61b3;
$light-gray: #9fa9ba;
$purple: #7953aa;
$purp3: #34244a;
$purp4: #5a3e7f;
$light-purple: rgba(121, 83, 170, 0.50);
$dark-purple: #271b37;
$dark-gray: #979797;
$gray1: #fbf8fc;
$gray2: #e6e6e6;
$gray3: #4a4a4a;
$lightning: #d5de22;
$gray4: #f7f7f7;
$gray5: #f4f4f4;
$blackish: #303234;
$gray6: #747e80;
