@import "../common/common";

.do-work {

  .subnav {
    height: 38px;
    background-color: $gray1;
    border: solid 1px $gray2;
    padding-top: 6px;
    span {
      margin-right:20px;
      font-family: 'Open Sans', sans-serif;
      color: $purple;
      font-size: 12px;
      letter-spacing: -0.3px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .sec {
    margin-top: 40px;
    display: block;
    float: left;
    min-height: 200px;
    width: 100%;
    background-color: white;

    .sec-header {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.6px;
      color: $dark-purple;
      background: white;
      height: 60px;
      padding-top: 12px;
      border-bottom: solid 2px $purple;
    }
  }

  .main {
    background-color: $gray2;
  }

  .comments {
    margin-bottom: 100px;
  }

  .loading {
    opacity: 0.5;
  }

  .exercise {
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .exercise-section {
    padding: 15px 10px 10px;
  }
}