@import "../common/common";

#one {
  min-height: 770px;
  width: 100%;
  background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center fixed;
  background-size: cover;
  border-bottom: 12px solid $lightning;
  color: white;
}

#two {
  color: $gray3;
  font-size: 20px;
  margin-bottom: 90px;
  .sub {
    padding-top: 25px;
    padding-bottom: 50px;
    line-height: 1.5;
    letter-spacing: -0.2px;
  }
  .content {
    line-height: 1.6;
    letter-spacing: -0.2px;
  }
}

#three {
  border-bottom: 12px solid $lightning;
  .brick {
    height: 314px;
    font-size: 36px;
    letter-spacing: -0.3px;
    text-align: center;
    padding-top: 120px;
  }

  .details {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    background-color: $gray2;
  }
  .left {
    padding-right: 5%;
    padding-left: 20%;
    text-align: right;
  }
  .right {
    padding-left: 5%;
    padding-right: 20%;
    text-align: left;
  }

  #sprinting {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-sprinting.png) no-repeat;
    background-size: cover;
  }
  #plyos {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-plyometrics.png) no-repeat;
    background-size: cover;
  }
  #strength {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-weightlifting.png) no-repeat;
    background-size: cover;
  }
  #stretch {
    background: url(https://s3.amazonaws.com/quadfit/background-quad-stretch.png) no-repeat;
    background-size: cover;
  }
}

#four {
  #view-and-share {
    color: $purple;
    font-size: 44px;
    line-height: 1.1;
    padding-top: 50px;
  }

  .sub {
    font-size: 18px;
    line-height: 1.6;
    color: $gray3;
    margin: auto;
    max-width: 620px;
    padding-top: 20px;
    margin-bottom: 100px;
  }
  .workout {
    background: url(https://s3.amazonaws.com/quadfit/background-workout.png) no-repeat;
    background-size: cover;
    max-height: 374px;
  }
  .workout-img {
    margin-top: -30px;
  }
}

#five {
  background: url(https://s3.amazonaws.com/quadfit/background-tracking.png) no-repeat;
  background-size: cover;
  .tracking-img {
    padding-top: 150px;
    margin-left: -250px;
  }
  .details {
    color: white;
    padding-top: 75px;
    margin: auto;
    max-width: 900px;
    font-size: 18px;
    line-height: 1.6;
  }
  .op {
    opacity: 0.8;
  }
  .track {
    font-size: 44px;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 24px;
  }
  .sub-details {
    margin-bottom: 50px;
  }
  .more {
    padding-bottom: 50px;
    max-width: 250px;
  }
  .icon {
    padding-bottom: 15px;
  }
}

#header-row {
  padding-top: 25px;
  padding-left: 80px !important;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.1px;
  a {
    color: white;
    margin-right: 40px;
  }
}

.about {
  font-size: 64px;
  letter-spacing: -0.6px;
  padding-top: 50px;
}

.headline {
  font-size: 64px;
  color: $lightning;
  font-family: 'Montserrat', sans-serif;
}

.subline {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  max-width: 850px;
  margin: auto;
}

.header-links {
  padding-top: 15px;
}

.main-row {
  margin-bottom: 50px;
  margin-top: 200px;
}

.sign-up {
  border: solid 1px #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 172px;
  margin: auto;
  font-size: 20px;
  letter-spacing: -0.2px;
  cursor: pointer;
  padding-top: 5px;
}


@media (min-width: 979px) {
  #five {
    min-height: 800px;
  }

    #one {
      min-height: 770px;
      width: 100%;
      background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
      background-size: cover;
    }
}

@media all and (max-width: 767px)  {
  #one {
    min-height: 500px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover;
  }

}

@media all and (max-width: 480px)  {
  #one {
    min-height: 300px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover;
  }

}

@media (max-width: 979px) and (min-width: 768px) {
  #five {
    min-height: 800px;
  }

  #one {
    min-height: 500px;
    width: 100%;
    background: url(https://s3.amazonaws.com/quadfit/home-background1.png) no-repeat center center;
    background-size: cover;
  }

}