@import "../../common/common";

.coach {

  .title-row {
    padding-bottom: 50px;
  }

  hr.hr-left {
    display: inline-block;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-right: 5px;
    border-style: inset;
    float: left;
    width: 250px;
    border-top: 1px solid $light-gray;
  }

  hr.hr-right {
    display: inline-block;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-left: 5px;
    border-style: inset;
    border-top: 1px solid $light-gray;
    float: right;
    width: 250px;
  }

  .desc {
    padding-top: 20px;
    padding-bottom: 20px;
    button {
      margin-top: 20px;
    }
  }

}