@import "../../common/common";

.goal {

  .header-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -0.4px;
    color: $gray3;
  }

  .button-row {
    margin-top: 50px;
  }


}