@import "../../common/common";

.quads {

  .col-xs-4 {
    padding-left: 0 !important;
  }

  .header-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -0.4px;
    color: $gray3;
  }

  .continue-row {
    margin-top: 30px;
  }

  .purple-bot-container {
    @include border-bottom;
    height: 70px;
    display: block;
  }

  .purple-top-container {
    border-top: 1px solid #7953aa;
    margin-top: 30px;
  }

  .back-link {
    margin-top: 10px;
    padding-left: 63px;
  }

}