@import "../../common/common";

.subnav {

  height: 52px;
  background-color: $gray1;
  border: solid 1px $gray2;
  font-size: 18px;
  line-height: 2.9;
  letter-spacing: -0.4px;
  color: $light-gray;
  span {
    margin-left: 50px;
  }

}