<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/bootstrap.min.css' />
  <% if Rails.env.development? %>
      <script src="http://localhost:35729/livereload.js"></script>
  <% end %>
  <%= yield :head %>
  <%= Gon::Base.render_data %>
</head>
<body>
<%= yield %>
</body>
</html>