<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='https://dwx350bwdtt59.cloudfront.net/assets/bootstrap.min.css' />
  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("71qF3lDSi2BBo7Rodj42dlg2rlu8Aijn");
      analytics.page();
    }}();
  </script>

  <% if Rails.env.development? %>
      <script src="http://localhost:35729/livereload.js"></script>
  <% end %>

  <%= yield :head %>
  <%= Gon::Base.render_data %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-0 col-xs-12 full-logo text-center">
        <a href="/"><img src="https://dwx350bwdtt59.cloudfront.net/logo-dark.png" /></a>
      </div>
    </div>

    <%= yield %>
  </div>
</body>
<% if current_user.present? %>
<script type="text/javascript">
  analytics.identify(gon.user_id, {
  first_name: gon.first_name,
  last_name: gon.last_name,
  email: gon.email,
  is_coach: gon.is_coach
  });
</script>
<% end %>
</html>