<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= yield :head %>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/bootstrap.min.css' />
  <!--<link rel='stylesheet' type='text/css' href='<%= Qfit::Application.config.assets_prefix %>/css/qfit.css' />-->
</head>
<body>
<%= yield %>
</body>
</html>